<section id="Projets">
    <div class="flex justify-center items-center gap-2">
        <a routerLink="/"><button class="py-2 px-10 border-2 border-jaune rounded-full hover:bg-jaune hover:text-blanc hover:animate-pulse"> ❮ </button></a>
        <h1 class="text-jaune desktop:text-2xl text-center font-swap font-extralight mt-10 mb-20">Mes Projets</h1>
    </div>

    <div class="grid gap-20">
      <app-card-project [project]="projectiutNFCTV"/>
      <app-card-project [project]="projectEmorphoz"/>
      <app-card-project [project]="projectgoMatch"/>
      <app-card-project [project]="projectcitadelle"/>
      <app-card-project [project]="projectfooterWave"/>
      <app-card-project [project]="projectStweaming"/>
      <app-card-project [project]="projectTroisCentTeam"/>
      <app-card-project [project]="projectProdSquad"/>
    </div>

  </section>