<div class="grid grid-cols-2">
    
    <!-- Contents -->
    <div>
        <!-- Title -->
        <div>
            <p>Theme Project</p>
            <h1>Title Project</h1>
        </div>

        <!-- Description -->
        <div class="absolute z-50 w-1.5">
            <p>Description Project</p>
        </div>

        <!-- Buttons -->
        <div class="flex gap-12">
            <a href=""><button>View Repos</button></a>
            <a href=""><button>View Site</button></a>
            <a href=""><button>View Docs</button></a>
        </div>
    </div>

    <div>
        <img src="../../assets/img/emorphoz.gif" alt="">
    </div>
</div>