
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
  AOS.init();
</script>

<header class="sticky top-0 h-0 z-50">
  <div class="absolute py-14 w-full bg-blanc blur-3xl"></div>
    <div class="flex flex-wrap gap-56 relative">
      <a href="#top" class="desktop:w-1/12 desktop:scale-50 phone:scale-100 phone:w-1/5 phone:mt-2 phone:ml-2 desktop:mt-0 desktop:ml-0 hover:animate-pulse"><img src="../assets/marwin-logo.svg"></a>
      <div class="desktop:hidden flex mt-7 scale-110">
        <!-- <a href="#About"><button><img src="../assets/down-chevron.png" alt=""></button></a> -->
      </div>


      <div class="flex pt-10 gap-96">
             
        <!-- MENU PC -->
        <nav>
          <div class="desktop:flex hidden -mt-2 gap-96">


            
              <!--  -->
            <ul class="flex gap-10 pt-5 rounded-full">

              
                <div class="group relative">
                  <a href="#About" class="z-20"><li class="ml-4 z-20"><p class="z-20 relative opacity-60 group-hover:opacity-100 duration-200 group-hover:font-bold">À propos</p></li></a>
                  <div class="flex justify-center"><div class="group-hover:w-full w-0 duration-500 bg-jaune h-1 rounded-lg ml-4 "></div></div>
                </div>  
                <div class="group relative">
                  <a href="#Projets" class="z-20"><li class="ml-4 z-20"><p class="z-20 relative opacity-60 group-hover:opacity-100 duration-200 group-hover:font-bold">Projets</p></li></a>
                  <div class="flex justify-center"><div class="group-hover:w-full w-0 duration-500 bg-jaune h-1 rounded-lg ml-4 "></div></div>
                </div>
                <div class="group relative">
                  <a href="#Veilles" class="z-20"><li class="ml-4 z-20"><p class="z-20 relative opacity-60 group-hover:opacity-100 duration-200 group-hover:font-bold">Veilles</p></li></a>
                  <div class="flex justify-center"><div class="group-hover:w-full w-0 duration-500 bg-jaune h-1 rounded-lg ml-4 "></div></div>
                </div>
                <div class="group relative">
                  <a href="#Contact" class="z-20"><li class="ml-4 z-20"><p class="z-20 relative opacity-60 group-hover:opacity-100 duration-200 group-hover:font-bold">Contact</p></li></a>
                  <div class="flex justify-center"><div class="group-hover:w-full w-0 duration-500 bg-jaune h-1 rounded-lg ml-4 "></div></div>
                </div>


            </ul>

             <!-- <button class="mt-3" onclick="english == !english; console.log(english)" *ngif="!english">EN</button>
            <button class="mt-3" onclick="english == !english; console.log(english)" *ngif="english">FR</button>  -->
            
        </div>
        <div class="desktop:hidden">
          
        </div>
        </nav>

        


      </div>  
    </div>
  </header>

  <section id="top">
    <!-- <parallax /> -->
    <div class="absolute z-10 mt-56 phone:left-10 desktop:left-1/3">
      <h1 class="desktop:py-4 text-transparent bg-clip-text bg-gradient-to-br from-blanc to-jaune font-swap text-center phone:text-lg desktop:text-2xl animate__animated animate__jackInTheBox">Welcome to <span class="font-bold"> <br class="desktop:flex hidden"/> Marwin RODRIGUES</span></h1>
      <div class="flex justify-center">
        <div class="desktop:py-1 desktop:px-5 mt-2 bg-jaune bg-opacity-40 rounded-full w-4/5 text-center animate__animated animate__zoomInUp"> <h3 class="text-blanc text-opacity-75 shadow-2xl shadow-black rounded-full phone:text-4xs desktop:text-3xs">WebMaster Junior</h3></div>
      </div>
      <div class="flex justify-center gap-10 mt-5 animate__animated animate__fadeIn">
        <a href="https://github.com/Marwin-Rdgs" target="_blank"><img src="../assets/socials/github.png" alt="" class="hover:-translate-y-2 hover:duration-100 hover:scale-110"></a>
        <a href="https://www.instagram.com/marwin.rdgs/" target="_blank"><img src="../assets/socials/instagram.png" alt="" class="hover:-translate-y-2 hover:duration-100 hover:scale-110"></a>
        <a href="https://www.linkedin.com/in/marwin-rodrigues/" target="_blank"><img src="../assets/socials/linkedin.png" alt="" class="hover:-translate-y-2 hover:duration-100 hover:scale-110"></a>
      </div>
      <div class="flex justify-center mt-52 relative z-10">
        <a href="#About"><img src="../assets/down-chevron.png" alt="" class="animate-bounce"></a>
      </div>
    </div>
    <div id="vantajs"  class="w-full h-full z-0 animate__animated animate__fadeIn"></div>
  </section>

  <section id="About" class="mt-10">
    <!-- <img src="../assets/nuage1.png" alt="" id="cloud" class="absolute hidden desktop:flex mt-10"> -->

    <h1 class="text-transparent bg-clip-text bg-gradient-to-r from-blanc to-jaune phone:text-lg desktop:text-2xl desktop:mr-20 phone:text-center desktop:text-right font-swap py-4">PRÉSENTATION</h1>
    
   
    <div class="flex justify-center">
    <div class="desktop:grid desktop:grid-cols-2 mt-10">
      <!-- <div class="grid-cols-1">
        <div class="flex justify-center">
          <img src="../assets/marwin.png" alt="" class="relative w-1/2 rounded-full z-10">
        </div>
        <div class="desktop:flex desktop:justify-center">
          <div class="desktop:w-80 phone:w-32 absolute z-0 desktop:-mt-64 phone:-mt-40 desktop:h-72 phone:h-40 desktop:left-48 phone:left-32 rounded-full bg-jaune blur-lg"></div>
        </div>
      </div> -->
      <div class="grid-cols-1">
        <div class="flex justify-center">
          <img src="../assets/Me.png" alt="" class="relative phone:scale-75 desktop:scale-150 z-10">
        </div>
      </div>
      <div class="grid-cols-2">
        <h2 class="desktop:text-lg phone:ml-2 desktop:ml-0" >Marwin RODRIGUES</h2>
        <h3 class="desktop:text-base text-jaune phone:ml-2 desktop:ml-0">WebMaster Junior</h3>

        <p class="desktop:text-3xs phone:text-5xs text-opacity-75 mt-4 w-10/12 phone:ml-2 desktop:ml-0">Étudiant agé de 22 ans, actuellement en troisième année au <a href="#"><span class="text-jaune hover:underline hover:animate-pulse"> MMI Montbéliard </span></a> et apprentis développeur web chez <a href="#"><span class="text-jaune hover:underline hover:animate-pulse"> Forvia</span></a>. Passionné par le web, l'Animation et le football.</p>
      
        <ul class="theme-list mt-5 phone:ml-2 desktop:ml-0">
            <li><b>Réside:</b> Montbéliard, FR</li>
            <li><b>Age:</b> 22</li>
            <li><b>Né:</b> 19/03/2001</li>
            <li><b>Contact: </b> <a href="mailto:contact@marwin-rodrigues.fr" class="text-jaune hover:underline hover:animate-pulse">contact@marwin-rodrigues.fr</a></li>
          </ul>

          <div class="flex justify-center desktop:w-1/2 mt-4">
          <a href="/Marwin-RODRIGUES_CV.pdf" target="_blank"><button class="rounded-full border-2 border-jaune px-2 py-1 hover:bg-jaune hover:text-white hover:scale-110 duration-300">Voir mon CV</button></a>
          </div>
      
        </div>
      </div>
    </div> 

    <!-- <img src="../assets/nuage2.png" alt="" id="cloud" class="absolute right-56 w-1/12 z-0 hidden desktop:flex -mt-2">
  <img src="../assets/nuage2.png" alt="" id="cloud" class="absolute right-64 -mt-12 w-2/12 z-0 hidden desktop:flex"> -->

  </section>

  <div class="mt-32 h-2 bg-jaune blur"></div>
  <section id="Compet" class="border-t-2 bg-blanc bg-opacity-80 pb-8 pt-3 shadow-lg shadow-jaune" >
    <h1 class="text-transparent bg-clip-text bg-gradient-to-r from-noir to-jaune desktop:text-2xl desktop:mr-20 text-left font-swap">COMPÉTENCES</h1>


    <div class="flex justify-center"><div class="grid desktop:grid-cols-4 desktop:gap-x-24 desktop:gap-y-4 phone:gap-y-16 mb-24">
    
      <!-- LANGAGE PROGRAMMATION  ========> Intégration Web(HTML / CSS / SCSS / Tailwind / Bootrstrap / Uikit)-->
    <div class="group">
      <div class="flex justify-center">
        <div class="desktop:w-[400px] desktop:h-[300px] rounded-md bg-blanc bg-opacity-60 absolute scale-0 group-hover:scale-100 group-hover:translate-y-4 duration-700">
          <div class="flex justify-center"><div class="grid desktop:grid-cols-3 gap-x-6 gap-y-14 py-6 mx-4 desktop:mt-12">
          <!-- HTML -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/html.png" alt="" class="w-[32px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">HTML</p>
            </div> </div>
          </div>
          <!-- CSS -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/CSS.png" alt="" class="w-[32px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">CSS</p>
            </div> </div>
          </div>
          <!-- SCSS -->
          <div class="relative mt-2">
            <div class="flex justify-center">
              <img src="../assets/competences/scss.png" alt="" class="w-[32px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">SCSS</p>
            </div> </div>
          </div>
          <!-- Tailwind -->
          <div class="relative -mt-4">
            <div class="flex justify-center">
              <img src="../assets/competences/tailwind.png" alt="" class="w-[64px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-2 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">Tailwind</p>
            </div> </div>
          </div>
          <!-- Bootstrap -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/Bootstrap.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">Bootstrap</p>
            </div> </div>
          </div>
          <!-- Uikit -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/uikit.png" alt="" class="w-[32px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">Uikit</p>
            </div> </div>
          </div>


          </div></div>
        </div>
      </div>
      <div class="opacity-100 relative group-hover:opacity-5 duration-700 scale-75 group-hover:scale-50">
        <div class="flex justify-center">
        <img src="../assets/competences-categ/programmation.png" alt="" >
        </div>
        <h3 class="text-center text-lg">Intégration Web</h3>
      </div>
    </div>

      <!-- FRAMEWORKS =====> Frontend Deveveloppement (Javascript / AngularJS / VueJS / ThreeJS / OpenWeatherMap / OpenStreetMap / ChartJS / EmotionCSS / Animation CSS / VantaJS / AlpineJS / AnimeJS) -->
    <div class="group">
      <div class="flex justify-center">
        <div class="desktop:w-[400px] desktop:h-[300px] rounded-md bg-blanc bg-opacity-60 absolute scale-0 group-hover:scale-100 group-hover:translate-y-4 duration-700">
          <div class="flex justify-center"><div class="grid desktop:grid-cols-3 gap-x-24 gap-y-11 py-6 px-8">
        <!-- JavaScript -->
        <div class="relative mt-2">
            <div class="flex justify-center">
              <img src="../assets/competences/js.png" alt="" class="phone:scale-50 desktop:scale-100">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">Javascript</p>
            </div> </div>
          </div>
          <!-- Angular -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/Angular.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">Angular</p>
            </div> </div>
          </div>
          <!-- VueJS -->
          <div class="relative mt-2">
            <div class="flex justify-center">
              <img src="../assets/competences/vuejs.png" alt="" class="w-[32px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">Vue</p>
            </div> </div>
          </div>

          <!-- ThreeJS -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/Threejs.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">ThreeJS</p>
            </div> </div>
          </div>

          <!-- ChartJS -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/chartjs.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">ChartJS</p>
            </div> </div>
          </div>

          <!-- AlpineJS -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/alpine.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">AlpineJS</p>
            </div> </div>
          </div>

          <!-- OpenStreetMap -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/openstreetmap.png" alt="" class="w-[64px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-5xs text-white group-hover:text-black">OpenStreetMap</p>
            </div> </div>
          </div>

          <!-- OpenWeatherMap -->
          <div class="relative desktop:mt-4">
            <div class="flex justify-center">
              <img src="../assets/competences/openweathermap.png" alt="" class="phone:scale-50 desktop:scale-150">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute mt-2 rounded-full">
              <p class="text-center text-5xs text-white group-hover:text-black">OpenWeatherMap</p>
            </div> </div>
          </div>

          <!-- EmotionCSS -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/emotion.png" alt="" class="w-[64px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-5xs text-white group-hover:text-black">Emotion</p>
            </div> </div>
          </div>

          <!-- AnimateCSS -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/animate.png" alt="" class="w-[64px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-5xs text-white group-hover:text-black">AnimateCSS</p>
            </div> </div>
          </div>

          <!-- AnimeJS -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/anime.png" alt="" class="w-[64px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-5xs text-white group-hover:text-black">AnimeJS</p>
            </div> </div>
          </div>

          <!-- VantaJS -->
          <div class="relative desktop:mt-5">
            <div class="flex justify-center">
              <img src="../assets/competences/vantajs.jpeg" alt="" class="phone:w-[64px] desktop:w-[128px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-5xs text-white group-hover:text-black">VantaJS</p>
            </div> </div>
          </div>


          </div></div>
        </div>
      </div>
      <div class="opacity-100 relative group-hover:opacity-5 duration-700 scale-75 group-hover:scale-50">
        <img src="../assets/competences-categ/frameworks.png" alt="">
        <h3 class="text-center text-lg">FrontEnd Developpement</h3>
      </div>
    </div>
    

      <!-- CMS  =========> Backend Developpement (PHP / .NET / NodeJS / PhpMyAdmin / PostGre / Supabase / Firebase)-->
    <div class="group">
      <div class="flex justify-center z-10">
        <div class="desktop:w-[400px] desktop:h-[300px] rounded-md bg-mdark absolute scale-0 group-hover:scale-100 group-hover:translate-y-4 duration-700 top-[1450px]">
          <div class="flex justify-center"><div class="grid desktop:grid-cols-3 gap-x-24 gap-y-11 py-6 px-8 desktop:mt-20">
          <!-- PHP -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/PHP.png" alt="" class="w-[32px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">PHP</p>
            </div> </div>
          </div>

          <!-- .NET -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/net.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">.NET</p>
            </div> </div>
          </div>

          <!-- NodeJS -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/node.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">NodeJS</p>
            </div> </div>
          </div>

          <!-- PHPmyAdmin -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/phpmyadmin.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">PHPmyadmin</p>
            </div> </div>
          </div>

          <!-- PostGre -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/Postgresql.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">PostgreSQL</p>
            </div> </div>
          </div>

          <!-- Supabase -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/supabase.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">Supabase</p>
            </div> </div>
          </div>

          <!-- METTRE AU CENTRE -->
          <!-- <div class="hidden desktop:flex"></div> -->

          <!-- Firebase -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/firebase.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">Firebase</p>
            </div> </div>
          </div>

          <!-- SQLlite -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/sqlite.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">SQLLite</p>
            </div> </div>
          </div>


          </div></div>
        </div>
      </div>
      <div class="opacity-100 relative group-hover:opacity-5 duration-700 scale-75 group-hover:scale-50">
        <img src="../assets/competences-categ/cms.png" alt="" >
        <h3 class="text-center text-lg">BackEnd Developpement</h3>
      </div>
    </div>


      <!-- BDD  ==========> Outils & Autres (Adobe Creative / Figma / Git / Github / Office 365 / Microsoft Power Platform / Wordpress / Wix / Trello / Blender / 3DS Max / Unreal Engine / Da Vinci Resolve / Wondershare Filmora / Python / VBA / Java )-->
    <div class="group">
      <div class="flex justify-center z-10">
        <div class="desktop:w-[400px] desktop:h-[300px] rounded-md bg-mdark absolute scale-0 group-hover:scale-100 group-hover:translate-y-4 duration-700 desktop:top-[1280px]">
          <div class="flex justify-center"><div class="grid desktop:grid-cols-3 gap-x-24 gap-y-11 py-6 px-8 desktop:mt-12">
          
            <!-- Adobe Creative -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/adobe.png" alt="" class="w-[32px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">Adobe</p>
            </div> </div>
          </div>

          <!-- Figma -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/figma.png" alt="" class="w-[32px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-3xs text-white group-hover:text-black">Figma</p>
            </div> </div>
          </div>


          <!-- Git -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/git.png" alt="" class="w-[32px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-4xs text-white group-hover:text-black">Git</p>
            </div> </div>
          </div>

          <!-- GitHub -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/github.png" alt="" class="w-[32px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-4xs text-white group-hover:text-black">Github</p>
            </div> </div>
          </div>


          <!-- Office -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/office.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-xs text-white group-hover:text-black">Office 365</p>
            </div> </div>
          </div>

          <!-- Power Platform -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/powerPlatform.png" alt="" class="phone:scale-50 desktop:scale-150">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-xs text-white group-hover:text-black">Power Platform</p>
            </div> </div>
          </div>

          <!-- Wordpress -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/wordpress.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-xs text-white group-hover:text-black">Wordpress</p>
            </div> </div>
          </div>

          <!-- Power Platform -->
          <div class="relative desktop:mt-5">
            <div class="flex justify-center">
              <img src="../assets/competences/wix.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-xs text-white group-hover:text-black">Wix</p>
            </div> </div>
          </div>

          <!-- Trello -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/trello.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-xs text-white group-hover:text-black">Trello</p>
            </div> </div>
          </div>

          <!-- Blender -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/Blender.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-xs text-white group-hover:text-black">Blender</p>
            </div> </div>
          </div>

          <!-- 3DSMax -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/3Dmax.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-xs text-white group-hover:text-black">3DSmax</p>
            </div> </div>
          </div>

          <!-- Unreal Engine -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/unreal.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-xs text-white group-hover:text-black">Unreal Engine</p>
            </div> </div>
          </div>

          <!-- DaVinci Resolve -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/DaVinci.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-xs text-white group-hover:text-black">DaVinci Resolve</p>
            </div> </div>
          </div>

          <!-- Wondershare Filmora -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/filmora.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-xs text-white group-hover:text-black">Filmora</p>
            </div> </div>
          </div>

          <!-- OBS -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/OBS.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-xs text-white group-hover:text-black">OBS</p>
            </div> </div>
          </div>

          <!-- Python -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/Python.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-xs text-white group-hover:text-black">Python</p>
            </div> </div>
          </div>

          <!-- Java -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/java.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-xs text-white group-hover:text-black">Java</p>
            </div> </div>
          </div>

          <!-- VBA -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/vba.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-xs text-white group-hover:text-black">VBA</p>
            </div> </div>
          </div>


          <!-- VS Code -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/vscode.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-xs text-white group-hover:text-black">VSCode</p>
            </div> </div>
          </div>


          <!-- PHPStorm -->
          <div class="relative">
            <div class="flex justify-center">
              <img src="../assets/competences/PhpStorm.png" alt="" class="w-[48px]">
            </div>

            <div class="flex justify-center">
            <div class="px-1 bg-white border border-black desktop:absolute -mt-1 rounded-full">
              <p class="text-center text-xs text-white group-hover:text-black">PHPStorm</p>
            </div> </div>
          </div>



          </div></div>
        </div>
      </div>
      <div class="opacity-100 relative group-hover:opacity-5 duration-700 scale-75 group-hover:scale-50">
        <img src="../assets/competences-categ/bdd.png" alt="" >
        <h3 class="text-center text-lg">Outils & Autres</h3>
      </div>
    </div>
    </div></div>


  </section>

  <section id="Cursus" class="mt-4 shadow-lg shadow-jaune pb-4 z-10">
    <h1 class="text-transparent bg-clip-text bg-gradient-to-r from-noir to-jaune desktop:text-2xl desktop:mr-20 text-right font-swap">PARCOURS</h1>

    <div class="container pt-5 flex justify-center">
      <div class="desktop:flex phone:grid justify-center gap-52">

        <!-- SCOLAIRE -->
        <div class="wow fadeInRight desktop:w-1/3">
          <h2 class="fw-normal font-swap desktop:text-lg">Scolaire</h2>
          <ul class="timeline mt-4 pr-md-5">
            <li>
              <div class="title">09/2021 à aujourd'hui</div>
              <div class="details">
                <h5>BUT MMI</h5>
                <small class="fg-theme">mmi montbéliard</small>
                <p>Formation aux métiers du web, spécialité <b>Développement Web & dispositifs intéractifs</b></p>
              </div>
              <!-- <div class="text-center wow fadeInUp">
                <a href="https://marwin-rodrigues.fr/MMI/" target="_blank" class="btn btn-theme">Projets Réalisés en MMI</a>
              </div> -->
            </li>
            <li>
              <div class="title">09/2020 à 06/2021</div>
              <div class="details">
                <h5>BTS SIO</h5>
                <small class="fg-theme">Lycée Condorcet, Belfort</small>
                <p>Formé en Informatique en alternance, spécialité <br /> <b>SLAM</b> (Solution Logiciel, Application et Maintenance)</p>
              </div>
            </li>
            <li>
              <div class="title">09/2017 à 07/2020</div>
              <div class="details">
                <h5>BAC STI2D</h5>
                <small class="fg-theme">Lycée Germaine Tillion, Montbéliard</small>
                <p>Baccalauréat mention assez bien, spécialité <b>SIN</b> (Système d'Information et Numérique)</p>
              </div>
            </li>
          </ul>
        </div>


        <!-- PRO -->
        <div class="col-md-6 wow fadeInRight desktop:w-1/3" data-wow-delay="200ms">
          <h2 class="fw-normal font-swap desktop:text-lg">Professionel</h2>
          <ul class="timeline mt-4 pr-md-5">
            <li>
              <div class="title">05/2023 à aujourd'hui</div>
              <div class="details">
                <h5><b>Web Developper Freelancer</b></h5>
                <small class="fg-theme">Chez Marwin Web</small>
                <p>Création d'une entreprise individuelle spécialisée dans les services web, offrant des compétences en communication digitale, développement web, design web et audiovisuel</p>
              </div>
            </li>
            <li>
              <div class="title">09/2022 à aujourd'hui</div>
              <div class="details">
                <h5><b>Web developper apprentice</b></h5>
                <small class="fg-theme">Forvia</small>
                <p>Alternance chez Forvia en tant que Développeur Web, avec pour responsabilité la création d'applications web en utilisant des outils tels que Microsoft Power, AngularJS et .NET. J'ai également assumé les rôles de Chef de Projet, Analyste UX/UI, Webdesigner et Vidéaste lors de certaines missions</p>
              </div>
            </li>
            <li>
              <div class="title">08/2021 à aujourd'hui</div>
              <div class="details">
                <h5><b>Arbitrage évennementiel & CM</b></h5>
                <small class="fg-theme">Ekalia</small>
                <p>Expérience en tant qu'Arbitre Événementiel et Community Manager au sein de l'association Ekalia, organisatrice d'événements de jeux vidéo en ligne, conformément à la loi 1901</p>
              </div>
            </li>
            <li>
              <div class="title">09/2020 à 06/2021</div>
              <div class="details">
                <h5><b>Pilote Système d'Informations</b></h5>
                <small class="fg-theme">Stellantis</small>
                <p>Une année d alternance chez Stellantis en tant que Pilote Système d'Information, avec pour responsabilité la création de fichiers Excel comportant des macros développées en VBA</p>
              </div>
            </li>
            <li>
              <div class="title">09/2020 à Aujourd'hui</div>
              <div class="details">
                <h5><b>Initiation d’adolescent à la programmation</b></h5>
                <!-- <small class="fg-theme">Stellantis</small> -->
                <p>Encadrement et initiation à la programmation pour des groupes d'adolescents âgés d'environ 13 ans</p>
              </div>
            </li>
            <li>
              <div class="title">07/2019 à 07/2021</div>
              <div class="details">
                <h5><b>Modérateur, Gérant Statistiques et Suggestions et UI Designer</b></h5>
                <small class="fg-theme">Ezaly</small>
                <p>Gestion de micro-événements(2h), des statistiques, des suggestions des utilisateurs ainsi que designer l'ensemble des interface</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


<!-- Project -->
  <section>
    <h1 class="text-jaune desktop:text-2xl text-center font-swap font-extralight mt-10">Mes Projets</h1>

    <app-card-project />

  </section>

  <h2 class="mt-20">En cours de production</h2>